{% extends 'bar_footer.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-success">Đăng nhập</h1>
        {% if err_msg %}
        <div class="alert alert-danger">
            <h1>{{ err_msg }}</h1>
        </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <input type="text" placeholder="Username..."
                       name="username" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password..."
                       name="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng nhập"
                       class="btn btn-danger" />
                <a href="{{ url_for('register') }}"><input value="Đăng ký"
                       class="btn btn-danger" /></a>
            </div>
        </form>
    </div>
{% endblock %}